body {
  background-image: url(https://comps.canstockphoto.com/friends-vector-clip-art_csp6695571.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background-color: goldenrod;
  color: white;
  opacity: 0.75;
  margin-top: 20px;
}

#submit {
  background: goldenrod;
}

#jumbo_h2 {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.panel-title {
  color: goldenrod;
}
